@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; } 

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
} 

*, *::before, *::after {
    box-sizing: inherit;
    
}

.banner {
    background-color: #008485;
    position: relative;
    height: 340px;
} 

.outside {
    position: absolute;
    top: 10px;
    left: calc(50% - 160px);
    width: 320px;
    -webkit-animation: outside 40s linear infinite;
    animation: outside 40s linear infinite;

}

.middle {
    position: absolute;
    top: 10px;
    left: calc(50% - 160px);
    width: 320px;
    -webkit-animation: middle 20s linear infinite;
    animation: middle 20s linear infinite;
}

.inside {
    position: absolute;
    top: 10px;
    left: calc(50% - 160px);
    width: 320px;
    -webkit-animation: outside 40s linear infinite;
    animation: outside 40s linear infinite;
}

.name {
    font-family: 'Trocchi', serif;
    font-size: 2.5em;
    color: #1a5858;
    text-align: center;
    position: absolute;    
    top: 50%;
    left: 50%;
    width: 100%;
    background-color: #008485;
    transform: translate(-50%, -50%);
    z-index: 2;

}

.flower {
    z-index: 1;
}
    
h1 {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #753855;
}
 
.arrow {
    position: absolute;
    width: 2em;
    left: 50%;
    transform: translate(-50%);
}

.headline {
    position: absolute;
    top:300px;
    left: 50%;
    transform: translate(-50%);
    opacity: .5;
    
}

.headline:hover {
    opacity: 1;
}

.topline {
    height: 8px;
    top: 0;
    left:0;
    width: 100%;
    position: absolute;
    z-index: 2
}

.bottomline {
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2
}

@-webkit-keyframes outside {
    
    0% { 
        -webkit-transform: rotate(0deg)
    }
    
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes outside {
    
    0% { 
        transform: rotate(0deg)
    }
    
    100% {
        transform: rotate(360deg)
    }
}



@-webkit-keyframes middle {
    
    0% { 
        -webkit-transform: rotate(0deg)
    }
    
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes middle {
    
    0% { 
        transform: rotate(0deg)
    }
    
    100% {
        transform: rotate(-360deg)
    }
}


.body {
    position: absolute;
    width: 5em;
    top: 80px;
    left: 0px;
    z-index: 3;
    -webkit-animation: body 5s  forwards;
    animation: body 5s  forwards;
}
    
.wing {
    position: relative;
    top: 73px;
    left: 8px;
    width: 3em;
    z-index: 3;
    -wekbit-animation: body 5s linear forwards;
    animation: body 5s linear forwards;
    -wekbit-animation: flap 2s ease-in-out infinite;
    animation: flap 2s ease-in-out infinite;
}

@-webkit-keyframes body {
    0% {
        -webkit-transform:
    }
    
    25% {
        -webkit-transform: translateX(25%) translateY(40px)
    }
    
    50% {
        -wekbit-transform:translateX(50%) translateY(80px)
    }
    
    75% {
        -webkit-transform:translateX(75%)translateY(-5px)
    }
    
    100% {
        -webkit-transform:translateX(100%) translateY(-20px) scaleX(-1)
    }
}

@keyframes body {
    0% {
        transform:
    }
    
    25% {
        transform: translateX(25%) translateY(40px)
    }
    
    50% {
        transform:translateX(50%) translateY(80px)
    }
    
    75% {
        transform:translateX(75%)translateY(-5px)
    }
    
    100% {
        transform:translateX(100%) translateY(-20px) scaleX(-1)
    }
}
 

  
@keyframes flap {
   
    0% {
        transform: scaleY(1);
        transform-origin: bottom;
    }
    
    50% {
        transform: scaleY(-1);
        transform-origin: bottom;
    }
    
    100% {
        transform: scaleY(1);
        transform-origin: bottom;
    }
}      
